### Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
// >>> b()
// >>> b()
// >>> b()
// >>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

The last expression (a) will display the value 6.

The variable a is firstly equal to 0.
Then, function b() is defined.
After that function c(a) is defined.
Function b() is called which sets the global variable a to the result of calling c(a). The function c(a) returns 0 + 2, which is 2
Then, function b() is called again which sets the global variable a to the result of calling c(a). The function c(a) returns 2 + 2, which is 4.
At last function b() is called again which sets the global variable a to result of calling c(a).The function c(a) returns 4 + 2, which is 6.
The value of the global variable a is printed which is 6.

## Question 2

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [4]:
def file_length(file_name):
    try:
        with open(file_name) as file:
            contents = file.read()
            print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found.")
    except IOError:
        print(f"Error reading file {file_name}.")

file_length('midterm.py')
file_length('idterm.py')

File midterm.py not found.
File idterm.py not found.

## Question 3

In [5]:
class Marsupial:
    def __init__(self):
        self.pouch = []  # initialize an empty list for the pouch
    def put_in_pouch(self, item):
        self.pouch.append(item)  # append an item to the pouch list
    def pouch_contents(self):
        return self.pouch  # return the pouch list

class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()  # call the constructor of the superclass
        self.x = x  # initialize the x coordinate
        self.y = y  # initialize the y coordinate
    def jump(self, dx, dy):
        self.x += dx  # move along the x-axis by dx units
        self.y += dy  # move along the y-axis by dy units
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)  # return a string that describes the object

k = Kangaroo(0, 0)  # create an instance of the class Kangaroo with coordinates (0, 0)
print(k)
k.put_in_pouch('doll')  # put three items in its pouch using the method inherited from the superclass
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)  # call the method jump() three times with arguments (1, 0) each time
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

## Question 4

In [1]:
def collatz(x):
    print(x)  # print the current number
    if x == 1:  # base case
        return
    elif x % 2 == 0:  # if x is even
        collatz(x // 2)  # call the function recursively with x/2
    else:  # if x is odd
        collatz(3 * x + 1)  # call the function recursively with 3x + 1

collatz(1)
collatz(16)

1
16
8
4
2
1

## Question 5

In [7]:
def binary(n):
    if n == 0:
        return '0'  # base case
    elif n == 1:
        return '1'  # base case
    else:
        return binary(n // 2) + str(n % 2)  # recursive call

print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

## Question 8

In [ ]:
dp.execute("SELECT Temperature FROM text")
assignment = dp.fetchall()
for x in assignment:
    print(x)

In [19]:
import sqlite3

program = sqlite3.connect('tabl_cities112.db')
dp = program.cursor()
dp.execute("CREATE TABLE text (City text, Country text, Season text, Temperature float, Rainfall float)")

rows = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

for row in rows:
    dp.execute("INSERT INTO text VALUES (?, ?, ?, ?, ?)", row)

program.commit()

dp.execute("SELECT Temperature FROM text")
assignment = dp.fetchall()

for x in assignment:
    print(x)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [20]:
dp.execute("SELECT DISTINCT City FROM text")
assignment = dp.fetchall()

for x in assignment:
    print(x)

('Mumbai',)
('London',)
('Cairo',)

In [21]:
dp.execute("SELECT * FROM text WHERE Country = 'India'")
assignment = dp.fetchall()

for x in assignment:
    print(x)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [22]:
dp.execute("SELECT * FROM text WHERE Season = 'Fall'")
assignment = dp.fetchall()

for x in assignment:
    print(x)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [25]:
dp.execute("SELECT City, Country, Season FROM text GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400;")
assignment = dp.fetchall()

for x in assignment:
    print(x)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [26]:
dp.execute("SELECT City, Country FROM text WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC;")
assignment = dp.fetchall()

for x in assignment:
    print(x)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [27]:
dp.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM text WHERE City = 'Cairo';")
assignment = dp.fetchall()

for x in assignment:
    print(x)

(27.6,)

In [28]:
dp.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM text GROUP BY Season;")
assignment = dp.fetchall()

for x in assignment:
    print(x)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

## Question 9

In [5]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words=[]
lowercase_words = []
word_lengths = []
word_info = []
four_or_more_chars = []

## (a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']:

uppercase_words = [word.upper() for word in words]

## (b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']:

lowercase_words = [word.lower() for word in words]

## (c) [3, 5, 5, 3, 5, 4, 3, 4, 3]:

word_lengths = [len(word) for word in words]

## (d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]:

word_info = [[word.upper(), word.lower(), len(word)] for word in words]

## (e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']:

four_or_more_chars = [word for word in words if len(word) >= 4]
print("1)",uppercase_words)
print("2)",lowercase_words)
print("3)",word_lengths )
print("4)",word_info)
print("5)",four_or_more_chars)

1) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
2) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
3) [3, 5, 5, 3, 5, 4, 3, 4, 3]
4) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
5) ['quick', 'brown', 'jumps', 'over', 'lazy']